<%- include('../partials/header', { links: [
  '<link rel="stylesheet" href="/css/post.css" />'
] }); -%>
<%- include('../partials/navbar') -%>
<main>
  <div class="post-container">
    <div class="header">
      <div class="author">
        <% if (post.isAnonymous) {%>
          <img src="/images/anonymous.jpg" alt="anonymous">
          <p>Anonymous</p>
        <% } else { %>
          <img src="<%= post.author.profilePic %>" alt="<%= post.author.username %>">
          <a href="/account/profile/<%= post.author.username %>"><%= post.author.username %></a>
        <% } %>
      </div>
    </div>
    <div class="title-section">
      <h3><%= post.title %></h3>
      <p class="post-type"><%= post.type %></p>
    </div>
    <div class="content-section">
      <p><%= post.content %></p>
    </div>
    <div class="bottom-section">
      <% if (req.user._id.equals(post.author._id)) { %>
        <a href="/posts/edit/<%= post._id %>"><i class="fas fa-edit"></i> Edit Post</a>
        <button id="delete-post-btn" class="delete-btn" post-id="<%= post._id %>"><i class="fas fa-trash"></i> Delete Post</button>
      <% } %>
    </div>
  </div>
  <%- include('../comment/commentForm', { post }) -%>
  <%- include('../comment/commentSection', { req, comments, post }) -%>
</main>
<script src="/js/post.js"></script>
<script src="/js/commentsFeed.js"></script>
<%- include('../partials/footer'); -%>
